.border-flag {
  border: 40px solid transparent;
  -o-border-image: url(/Nurmatov_Jamolbek_files/flag_border.png) 12% stretch;
     border-image: url(/Nurmatov_Jamolbek_files/images/flag_border.png) 12% stretch;
}